
@media screen and (max-width:1023px) {
    body{
        text-align: center;
    }
    
    h3 {
        margin-top: 30px;
        position: absolute;
        color: rgba(255, 255, 255, 0.217);
        left: 50%;
        transform: translateX(-50%);
    }

    hr {
        margin: 20px;
        border-color: #000616;
    }

    .container {
        border-radius: 15px;
        text-align: center;
        margin-top: 10px;
        width: 40vh;
        background-color: aliceblue;
        padding: 10px;
        justify-self: center;
    }

    .sobreMim {
        display: flex;
        justify-content: center;
        align-items: center;

        h1 {
            font-size: 30px;
        }
        img{
            width: 50px;
        }
        img:hover {
            transition: 0.1s;
            transform: scale(1.05);
            overflow: hidden;
        }

        .sobreTexto {
            text-align: left;

            span {
                animation: blink 1s infinite steps(2);
            }

            p {
                margin-top: 35px;
            }

            h1:hover {
                transition: 1s;
                color: #4e00d3;
            }
        }

        .botoesSobreMim {
            margin: 0 0 0 0;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 5px;

            p {
                border-radius: 10px;
                box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
                text-align: center;
                color: #000c2f;
                padding: 10px;
                background-color: aliceblue;
            }

            p:hover {
                transition: 0.2s;
                border-radius: 15px;
                transform: scale(1.5);
            }
        }

        .git:hover {
            color: white;
            background-color: black;
        }

        .insta:hover {
            color: white;
            background: radial-gradient(circle at 30% 107%,
                    #fdf497 0%,
                    #fdf497 5%,
                    #fd5949 45%,
                    #d6249f 60%,
                    #285AEB 90%);
        }

        .link:hover {
            color: #0077B5;
            background-color: white;
        }

        .spot:hover {
            color: #1DB954;
            background-color: black;
        }
    }

    /* DESVANECER DE IMAGEM */
    .imagem {
        width: auto;
        width: 300px;
        height: auto;
        mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 100%);
        -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 100%);
    }

    /* ANIMAÇÃO PARA FUNDO SUAVE */
    @keyframes fundoSuave {
        0% {
            background-position: 0% 50%;
        }

        50% {
            background-position: 100% 50%;
        }

        100% {
            background-position: 0% 50%;
        }
    }

    /* ANIMAçÂO BARRA DIGITANDO */
    @keyframes blink {
        0% {
            display: none;
        }

        100% {
            display: show;
        }
    }

    .divProjetos {
        margin: 10px;
        padding: 50px;
        outline-offset: 0px;

        h1 {
            margin-bottom: 10px;
            font-size: 50px;
        }

        h1:hover {
            transition: 0.5s;
            color: #4e00d3;
        }

        hr {
            margin: 20px;
            color: #000c2f;
        }

        transition: all 0.3s ease-in-out;

        h2 {
            font-size: 20px;
            color: rgba(255, 255, 255, 0.824);
            padding: 10px;
            text-align: justify;
            font-size: 15px;
        }

        p {
            bottom: 0;
            color: rgba(255, 255, 255, 0.537);
        }
    }

    .outline {
        margin: 10px;
        border-radius: 15px;
        outline: #000c2f 2px solid;
    }

    /* PROJETO */
    .projeto {
        transition: 0.3s;
        border-radius: 15px;
        display: grid;
        grid-template-columns: 50% 50%;
        padding: 20px;

        /* FUNDO */
        animation: fundoSuave 6s infinite ease-in-out;
        background: linear-gradient(230deg, #4e00d3, #170062, #000c2f);
        background-size: 300% 300%;
        background-position: 0% 50%;

        img {
            border-radius: 15px;
            width: 100%;
        }

        h1,
        h1:hover {
            font-size: 20px;
            color: white;
        }

        .textoDiv {
            text-align: center;
        }

    }

    .projeto:hover {
        outline: white 3px solid;
        transition: 1s;
        transform: scale(1.5);
    }

    #toggleProjetos {
        border-radius: 15px;
        padding: 10px;
        width: 100%;
        transition: 0.5s;
        font-weight: 700;
        color: #000c2f;
        cursor: pointer;
        box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
        background-color: aliceblue;
        border: none;
        outline: none;
        font-size: 40px;
    }

    #toggleProjetos:hover {
        transition: 0.5s;
        animation: fundoSuave 6s infinite ease-in-out;
        background: linear-gradient(230deg, #4e00d3, #170062, #000c2f);
        background-size: 300% 300%;
        background-position: 0% 50%;
        color: #ffffff;
    }
}